/* #menu {
  background-color:#ff851b
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  color: white;
  text-decoration: none;
  padding: 30px 60px;
  display: block;
}
#menu ul li a:hover {
  background-color: #ff851b
}
.titulos {
  margin: auto;
  margin-top: 50px;
}
.item {
  float: right;
}
.general {
  margin: auto;
  margin-top: 50px;
  width: 1200px;
  height: 700px;
}
.derecho {
  float: right;
  width: 35%;
  height: 100%;
  margin: auto;
}
.banner {
  float: left;
  width: 60%;
  height: 100%;
  border: 3px solid #ff851b;
  margin: auto;

  background-size: 100% 100%;

  animation-name: banner;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes banner {
  0%,
  30% {
    background-image: url("../img/1.jpg");
    opacity: 1;
  }
  31%,
  34% {
    opacity: 0.1;
  }
  35%,
  65% {
    background-image: url("../img/2.jpg");
  }
  66%, 69% {
    opacity: 0.1;
  } 
   70%,
  100% {
    background-image: url("../img/3.jpg");
  }
}
.banner1 {
  width: 100%;
  height: 30%;
  border: 3px solid #ff851b;
  margin: auto;

  background-size: 100% 100%;

  animation-name: banner1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes banner1 {
  0%,
  30% {
    background-image: url("../img/1.jpg");
    opacity: 1;
  }
  31%,
  34% {
    opacity: 0.1;
  }
  35%,
  65% {
    background-image: url("../img/2.jpg");
  }
  66% ,69% {
    opacity: 0.1;
  }
  70%,
  100% {
    background-image: url("../img/3.jpg");
  }
}
.banner2 {
  width: 100%;
  height: 30%;
  border: 3px solid #ff851b;
  margin: auto;
  margin-top: 7%;

  background-size: 100% 100%;

  animation-name: banner2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes banner2 {
  0%,
  30% {
    background-image: url("../img/1.jpg");
    opacity: 1;
  }
  31%,
  34% {
    opacity: 0.1;
  }
  35%,
  65% {
    background-image: url("../img/2.jpg");
  }
  66%, 69% {
    opacity: 0.1;
  }
  70%,100% {
    background-image: url("../img/3.jpg");
  }
}
.banner3 {
  width: 100%;
  height: 30%;
  border: 3px solid #ff851b;
  margin: auto;
  margin-top: 7%;

  background-size: 100% 100%;

  animation-name: banner3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes banner3 {
  0%,
  30% {
    background-image: url("../img/1.jpg");
    opacity: 1;
  }
  31%,
  34% {
    opacity: 0.1;
  }
  35%,
  65% {
    background-image: url("../img/2.jpg");
  }
  66%, 69% {
    opacity: 0.1;
  }
  70%,
  100% {
    background-image: url("../img/3.jpg");
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/fondoLogin.jpeg");
  background-size: cover;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor-form {
  position: relative;
  background: rgba(239, 235, 216, 7);
  width: 100%;
  max-width: 500px;
  margin: 48px auto;
  color: chocolate;
  border-radius: 5px;
}
.contenedor-form .toggle {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-top: 2px solid #ff851b;
  border-bottom: 2px solid #ff851b;
}
.contenedor-form .toggle span {
  letter-spacing: 1px;
}
.contenedor-form .toggle:hover {
  border-top: 2px solid cyan;
  border-bottom: 2px solid cyan;
}
.contenedor-form h2 {
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
  outline: none;
  background: rgba(230, 214, 144, 5);
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 2px;
  border-bottom: 4px #ff851b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px 0;
  transition: all 0.5s ease;
}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
  border-bottom: 4px solid cyan;
}
.contenedor-form input[type="submit"] {
  background: #ff851b;
  color: blanchedalmond;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contenedor-form input[type="submit"]:hover {
  background: cornflowerblue;
}
.contenedor-form .reset-password {
  background: cornflowerblue;
  color: blanchedalmond;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contenedor-form .reset-password a {
  color: blanchedalmond;
  text-decoration: none;
  font-size: 16px;
}
.contenedor-form .formulario {
  padding: 40px;
  display: none;
}
.contenedor-form .formulario:nth-child(2) {
  display: block;
} */

.header{
  height: 100px;
 background-image: url("../images/fondo1.jpg");
 background-position: top;
    background-size: cover;
}

.menu{
  display: flex;
  height: 40px;
  background-color: #2B0400;
  justify-content: space-around;
  color: #ffffff;

}

.ul{
  display: flex;
  height: 40px;
  justify-content: space-around;
  width: 100%;
    align-items: center;
    
}

.item{
  list-style:none;
  color: #ffffff;
  
}

.item > a{
  color: #ffffff;
  text-decoration: none;
}

.img{

}

.cont-carrusel{
display: flex;
justify-content: center;
padding: 103px;

}

.carousel{
  width: 70%;

}

.imgen{
  width: 100%;
  height: 455px;
    object-fit: cover;
    border-radius: 20px;
}

body{

  background-image: linear-gradient(to right, #21252982, #21252980), url("../images/fondo2.jpg");
  
 
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  background: #ffffff;
  border-radius: 20px;
  padding: 50px;
}